/* Font Google - strong reaload time */
@import url(http://fonts.googleapis.com/css?family=Lato:400,300&subset=latin,latin-ext);

html, body{
  font-family: 'Lato', sans-serif;
  font-size:15px;
  font-weight:400;
  color:black;
  -webkit-font-smoothing: subpixel-antialiased!important;
}

a{
  text-decoration:none;
  outline:none;
}

.container {
  min-height: calc(100vh - 100px);
}

.section .heading {
  padding: 75px 0 50px 0;
}

.section .content{
  position:relative;
  width:900px;
  overflow:hidden;
  margin: 0 auto;
  padding-bottom: 75px;
}

/* Menu */

.header {
  position:fixed;
  top: 0px;
  left: 0px;
  width:100%;
  height: auto;
  background:white;
  border-bottom:1px solid #f2f2f2;
  z-index:1000;
  padding: 10px;
}

.header.small {
  padding: 3px 15px;
}

.header .logo {
  margin: 0 auto;
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
}

.header.small .logo {
  width: 50%;
  justify-content: flex-start;
}

.header .logo img {
  max-width: 650px;
  margin: 1em 0;
}

.header.small .logo img {
  max-height: 30px;
}

.header nav{
  float: right;
  width: 100%;
}

.header.small nav {
  width: 45%;
}

.header nav ul{
  width:100%;
  float:center;
  text-align:center;
  list-style:none;
}

.header nav li{
   display:inline-block;
   position:relative;
}

.header nav li a{
  color:#333;
  font-size:16px;
  display: block;
  padding: 0 20px 0 20px;
  line-height:60px;
  -webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}

.header nav li.active a{
  color:#00c5c7;
}

.header nav li a:hover{
  color:#00c5c7;
}

.header .promo-link{
  color: red;
}

/* Hero Image */
#home {
  padding-top: 150px;
  display: block;
  position:relative;
  width:100%;
  height: 600px;
  background: url(../img/background/inside.jpeg) white no-repeat center center;
  opacity: .8;
  margin: 0 auto;
  background-size: cover;
}

/* About us */
#about-us{
  display: block;
  position:relative;
  width:100%;
  background:#FFFFFF;
  z-index:10;
}


#about-us h1{
  font-size:50px;
  color:#00c5c7;
  text-align:center;
  margin-top:20px;
  letter-spacing:6px;
  font-weight:bold;
  text-transform:uppercase;
  line-height:1.2;
}

#about-us h3{
  font-size:20px;
  color:#000000;
  text-align:left;
  margin-top:20px;
  letter-spacing:3px;
  line-height:1.2;
  margin:30px auto;
  position:relative;
}


.doctors{
  display: block;
  position:relative;
  width:100%;
  background:#FFFFFF;
  z-index:10;
}

.doctors h2{
  text-align:center;
  margin-top:50px;
  font-size:20px;
  color:black;
  line-height:1.2;
  letter-spacing:6px;
  width:100%;
  position:relative;
  font-weight:400;
}

.doctors p{
  text-align:justify;
  font-size:14px;
  width:250px;
  margin:30px auto;
  color: black;
  line-height:20px;
  letter-spacing:0;
  position:relative;
  font-weight:300;
}

.doctors .column-one{
  margin-top:20px;
  width:300px;
  float:left;
  margin-bottom:70px;
  height:600px;
}

.doctors .column-one .circle-one{
  height: 200px;
  position:relative;
  margin:0 auto;
  border:2px solid #f0f0f0;
  background: url(../img/doctors/j200.jpg) white no-repeat center center;
  -moz-border-radius:200px;
  -webkit-border-radius:200px;
  border-radius: 200px;
  width: 200px;
}

.doctors .column-two{
  margin-top:20px;
  width:300px;
  float:left;
  margin-bottom:70px;
  height:600px;
}

.doctors .column-two .circle-two{
  height: 200px;
  position:relative;
  margin:0 auto;
  border:2px solid #f0f0f0;
  background: url(../img/doctors/v200.jpg) white no-repeat center center;
  -moz-border-radius:200px;
  -webkit-border-radius:200px;
  border-radius: 200px;
  width: 200px;
}

.doctors .column-three{
  margin-top:20px;
  width:300px;
  float:left;
  margin-bottom:70px;
  height:600px;
}

.doctors .column-three .circle-three{
  height: 200px;
  position:relative;
  margin:0 auto;
  border:2px solid #f0f0f0;
  background: url(../img/doctors/m200.jpg) white no-repeat center center;
  -moz-border-radius:200px;
  -webkit-border-radius:200px;
  border-radius: 200px;
  width: 200px;
}

/* glasses brands and grid */

#glasses{
  position:relative;
  width:100%;
  background:#e1e1e1;
  z-index:10;
}

#glasses  h1{
  font-size:34px;
  color:black;
  text-align:center;
  margin-top:30px;
  letter-spacing:6px;
  font-weight:bold;
  text-transform:uppercase;
  line-height:1.2;
}

#glasses h2{
  font-size:20px;
  font-family: "calibri";
  color:black;
  text-align:center;
  line-height:1.2;
}

.grid{
  margin-top:20px;
  width:100%;
  position:relative;
  margin-bottom:20px;
  overflow:hidden;
  float: right;
}

.grid img{
  width:285px;
  margin:0 15px 15px 0;
  float: left;
  position: relative;
  overflow: hidden;
}

/*promo*/
#promos {
  width: 95vw;
  height: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#promos > div {
  display: flex;
  justify-content: space-around;
}

#promos h1{
  font-size:50px;
  color:#000000;
  text-align:center;
  margin-top:20px;
  letter-spacing:6px;
  font-weight:bold;
  text-transform:uppercase;
  line-height:1.2;
}

.promo-one{
  background-image: url(../img/160dealposter-lg.jpg);
  background-size: cover;
  width: 45vw;
  height: 31vw;
  float: left;
  display: inline-block;
}

.promo-two{
  background-image: url(../img/bellvisionspringsale.jpg);
  background-size: cover;
  width: 45vw;
  height: 31vw;
  float: right;
  display: inline-block;
}

/* insurances */
#insurances{
  position:relative;
  width:100%;
  z-index:10;
  height:500px;
  background:url('../img/background/insurances.jpg') 0px 0px fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#insurances .opacity{
  position:absolute;
  width:100%;
  height:500px;
  background:rgba(79,79,79,0.8);
}

#insurances .content{
  position:absolute;
  width:900px;
  margin:auto;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

#insurances h2{
  color:white;
  letter-spacing:1px;
  font-size:32px;
  font-weight:300;
  text-align:center;
}

#insurances h3{
  padding: 3px;
}

.insurance-list{
  padding: 20px;
  color:white;
  text-align: center;
  font-size:28px;
  font-weight:300;
}

/*schedule visit*/
#visit{
  position:relative;
  width:100%;
  background:white;
  z-index:10;
  overflow:hidden;
}

#visit h1{
  font-size:34px;
  color:black;
  text-align:center;
  letter-spacing:6px;
  font-weight:bold;
  text-transform:uppercase;
  line-height:1.2;
}

#visit h2{
  font-size:24px;
  color:black;
  text-align:center;
  margin-top:10px;
  letter-spacing:3px;
  line-height:1.2;
}

#visit a{
  font-size:24px;
  text-align:center;
  margin-top:10px;
  letter-spacing:3px;
  line-height:1.2;
  color: #00c5c7;
}

.field {
  margin: 1em 0;
}

#appointment {
  border: 1px solid #eee;
  padding: 2em;
  max-width: 400px;
  margin: 3em auto;

}

label {
  display: block;
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: #999999;
}

input {
  width: 95%;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
  color: #555;
  display: inline-block;
  box-shadow: inset 0 1px 3px #ddd;
}

input::placeholder {
  color: #ddd;
}

#submit {
  display: inline-block;
  border: 1px solid #777;
  font-size: 0.9rem;
  padding: 0.5rem 0.8em;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 50px 25% 0 25%;
  width: 50%;
  background-color: #a5e7e7;
  text-align: center;
}

#submit:hover, #submit:focus {
  background-color: #b5f7f7;
  cursor: pointer;
}

#submit:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

/* Contact */

#contact{
  position:relative;
  width:100%;
  height: auto;
  background: #eee;
}

#contact .heading{
  color: #004EC7;
  font-weight: bold;
}

#contact h1{
  text-align: center;
  color: black;
  font-size:34px;
  margin-top:20px;
  letter-spacing:6px;
  font-weight:bold;
  text-transform:uppercase;
  line-height:1.2;
}

#contact .content {
  display: flex;
  flex-flow: column nowrap;
  width: 85%;
  margin: 0 auto;
}

#contact .content > div {
  width: 100%;
  margin: 1em auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

#contact img, #contact iframe {
  width: 45%;
  max-height: 400px;
  object-fit: cover;
}

.contact-text{
  text-align: left;
  font-weight:300;
  color: black;
}

.contact-text h5 {
  width: 30%;
  font-size:24px;
  margin-top:15px;
  line-height:1.5;
}

.contact-text .time {
  float: right;
  font-weight: 500;
}


/* Footer */
.footer{
  background:#3c3c3c;
  width: 100vw;
  height: 150px;
  padding-top: 10px;
  text-align: center;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}

.copyright{
  font-weight:300;
  margin:0 auto;
  text-align:center;
  font-size:14px;
  line-height:14px;
  color:#a4a4a4;
}

.footer img{
  height: 75px;
  width: 75px;
  padding: 5px;
}
